<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.ilumina_es.geovisor"
    versionCode = "1"
    version     = "0.0.1" >
  <name>Geovisor</name>
  <description>
      Geovisor ilumina
  </description>
  <author href="https://esteban1297.github.io/Geovisor-ilumina/#12/3.4005/-76.5172" email="esteban.solano@correounivalle.edu.com">
      Esteban Solano - Felipe Jurado
  </author>
  <access origin="*" />
  <plugin name="cordova-plugin-whitelist" />
  <plugin name="cordova-plugin-vibration" />
</widget>